.carousel-root {
  width: 100%;
  margin: auto; /* center div */
  padding: 50px 20px;
}

.carousel .control-dots .dot {
  background: #454545;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.testimonialBlock {
  background: #fafafa;
  width: 50%;
  margin: auto; /* center div */
  height: 286px;
}

.myimg {
  width: 50%;
  margin: auto; /* center div */
}

.testimonialBlock h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  /* margin-bottom: 4px; */
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.testimonialBlock p {
  font-weight: 100;
  /* line-height: 29px; */
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  /* max-height: 67px; */
  white-space: pre-line; /* deals with new lines */
}

.testimonialBlock p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.testimonialBlock p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

@media only screen and (max-width: 900px) {
  .testimonialBlock {
    height: 300px;
    width: 95%;
    /* font-size: 16px; */
  }
}
@media only screen and (max-width: 500px) {
  .testimonialBlock {
    height: 500px;
    width: 95%;
  }
}
