/* TODO not responsive yet  */
.slick-slider {
  width: 80%;
  max-width: 1280px; /* not overflow to the sides if screen is too big */
  margin: -0px auto 0px;
  padding: 0px;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--ifm-color-primary);
}

.slick-prev:before,
.slick-next:before {
  color: var(--ifm-color-primary);
}

.testimonialBlock {
  background: #fafafa;
  width: 90%;
  height: 350px;
  margin: 20px auto 30px; /* center div */
  padding: 30px 20px 0px 20px;
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
}
.quotationStart {
  height: 50px;
  position: absolute;
  top: -20px;
  left: 5%;
}
.quotationEnd {
  height: 50px;
  position: absolute;
  bottom: -30px;
  right: 5%;
}

.logo {
  width: 20%;
  height: 100px;
  height: auto;
  margin: auto; /* center div */
  padding: 0px 0px 10px;
}

.testimonialBlock h3 {
  color: #222;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.testimonialBlock p {
  font-weight: 200;
  color: #222;
  font-size: 15px;
  white-space: pre-line; /* deals with new lines */
  padding: 0px 0px;
}

@media only screen and (max-width: 1024px) {
  .testimonialBlock {
    height: 400px;
    width: 95%;
  }
  .logo {
    width: 40%;
  }
  .testimonialBlock h3 {
    font-size: 15px;
  }

  .testimonialBlock p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .testimonialBlock {
    height: 500px;
  }
  .logo {
    width: 60%;
  }
}
@media only screen and (max-width: 400px) {
  .testimonialBlock {
    height: 600px;
  }
}
