.AMContainer {
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.AMTitle {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-start;
}

.AMTitle h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #000000;
}

.AMTitle h1 span {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #ef1385;
}

.ThreeDots {
  height: 20px;
  width: auto;
  margin: 0px 0px 0px 5px;
}
